<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<File name="LogFile" fileName="output/logs/mercado-database-retriever.log"
			append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="LogFile" />
		</Root>
	</Loggers>
</Configuration>