<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<File name="LogFile" fileName="src/main/resources/logs/mercado-simulator.log" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<File name="HibernateLogFile"
			fileName="src/main/resources/logs/mercado-simulator-hibernate.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="LogFile" />
		</Root>
		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="HibernateLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.simulator" level="info" />
		<Logger name="org.marceloleite.mercado.simulator.TemporalTickerVariation" level="info" />
		<Logger name="org.marceloleite.mercado.simulator.House" level="debug" />
		<Logger name="org.marceloleite.mercado.simulator.Simulator" level="debug" />
		<Logger name="org.marceloleite.mercado.simulator.strategy.first.FirstStrategy" level="debug" />
	</Loggers>
</Configuration>