<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="defaultPatternLayout">[%-5p] %d{HH:mm:ss,SSS} %c{1.} [%-8t] %m%n</Property>
	</Properties>
	<Appenders>
		<File name="LogFile" fileName="output/logs/mercado-simulator.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="OriginalStrategyLogFile" fileName="output/logs/mercado-simulator-original-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="FirstStrategyLogFile" fileName="output/logs/mercado-simulator-first-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="SecondStrategyLogFile" fileName="output/logs/mercado-simulator-second-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="ThirdStrategyLogFile" fileName="output/logs/mercado-simulator-third-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="FourthStrategyLogFile" fileName="output/logs/mercado-simulator-fourth-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="FifthStrategyLogFile" fileName="output/logs/mercado-simulator-fifth-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="SixthStrategyLogFile" fileName="output/logs/mercado-simulator-sixth-strategy.log"
			append="false">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
		<File name="HibernateLogFile" fileName="output/logs/mercado-simulator-hibernate.log">
			<PatternLayout pattern="${defaultPatternLayout}" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="LogFile" />
		</Root>
		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="HibernateLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.simulator"/>
		<Logger name="org.marceloleite.mercado.simulator.TemporalTickerVariation"
			level="info" />
		<Logger name="org.marceloleite.mercado.simulator.House"/>
		<Logger name="org.marceloleite.mercado.simulator.Simulator"
			level="debug" />
		<Logger
			name="org.marceloleite.mercado.strategies.OriginalStrategy"
			level="debug" additivity="false">
			<AppenderRef ref="OriginalStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.first"
			level="debug" additivity="false">
			<AppenderRef ref="FirstStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.second"
			level="debug" additivity="false">
			<AppenderRef ref="SecondStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.third"
			level="debug" additivity="false">
			<AppenderRef ref="ThirdStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.fourth"
			level="debug" additivity="false">
			<AppenderRef ref="FourthStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.fifth"
			level="debug" additivity="false">
			<AppenderRef ref="FifthStrategyLogFile" />
		</Logger>
		<Logger name="org.marceloleite.mercado.strategies.sixth"
			level="debug" additivity="false">
			<AppenderRef ref="SixthStrategyLogFile" />
		</Logger>
	</Loggers>
</Configuration>