[Unit]
Description=Mercado Controller Program
After=network.target
Required=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/marcelo/git/mercado/controller
ExecStart=/bin/bash -c "/usr/bin/java -jar /opt/marcelo/git/mercado/controller/target/controller-0.0.1-SNAPSHOT-jar-with-dependencies.jar & echo $! > /opt/marcelo/git/mercado/controller/output/mercado-controller.pid"
ExecStop=/bin/bash -c "/bin/cat /opt/marcelo/git/mercado/controller/output/mercado-controller.pid | xargs kill -SIGKILL"
Restart=on-failure

[Install]
WantedBy=multi-user.target
