[Unit]
Description=Mercado Controller
After=networking.service
Requires=networking.service

[Service]
Type=simple
ExecStart=/opt/marcelo/git/mercado/debian-service/start.sh
ExecStop=/opt/marcelo/git/mercado/debian-service/stop.sh
Restart=on-failure

[Install]
WnatedBy=multi-user.target
